# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ORO Core Daemon SNAP
Comment=main
GenericName=ORO Digital Currency Daemon Client main network
Exec=oro-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/oro.png
MimeType=x-scheme-handler/oro;
Categories=X-Office;X-Finance;
Keywords=internet;oro;zoro;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
